.input1 input{
    font-size: 20px;
}

.input1 label{
    font-size: 20px;
    color:rgba(194, 99, 55, 0.952) ;

}
.input1 {
    line-height: 40px;
    border: 1px solid rgba(194, 99, 55, 0.952);
}
.conh1{
    font-weight: 400;
    font-family: "proxima-nova";
    font-style: italic;
    letter-spacing: 3px;
    text-transform: lowercase;
}
